* {
    box-sizing: border-box;
  }
  
  html,
  body,
  .example1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .example1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: black;
    background: #f0f0f0;
    margin: 0;
  }
  
  .script-bf-box {
    width: 100px;
    height: 300px;
    background: black;
    margin: 5px;
    will-change: transform;
  }
  
  .script-bf-box:hover {
    background: hotpink;
  }

  /* ********************EXAMPLE 2******************************** */

  html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  background: #f0f0f0;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg);
}

.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

 /* ********************EXAMPLE 3******************************** */

 html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background:radial-gradient(#00bf8f, #262626);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
}

.hooks-main > div:nth-child(1) {
  width: 120px;
  height: 120px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 150px;
  height: 150px;
}

.hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
}

* {
  text-align: center;
}

h1 {
  font-size: 10rem;
  margin: 0 auto;
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 300px;
  z-index: 20;
  color: #999911;
}


/* *********EXAMPLE 4******************/

.unicorn {
  padding: 0;
  height: 100vh;
  width: 100vh;
  user-select: none;
  background: #ADF5D3;
  margin: 0 auto;
  border: solid red;
}

.c {
  margin: 150px 0;
  position: absolute;
  width: 80ch;
  height: 80ch;
  cursor: pointer;
  will-change: transform, opacity;
}
.front,
.back {
  background-size: cover;
}
.back {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(http://cdn.wallpapername.com/3900x2194/20121026/neil%20patrick%20harris%20unicorns%20harold%20and%20kumar%203900x2194%20wallpaper_www.wallpapername.com_58.jpg);
}
.front {
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-image: url(https://thelibertarianrepublic.com/wp-content/uploads/2015/07/neil-patrick-harris-background-1-783424.jpg);
}

.blob {
  height: 100vh;
}

/* *********EXAMPLE 5****************** */

.plant {
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  padding: 15px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  user-select: none;
  border: solid red;
}


.list {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100vh;
  height: 100%;
  margin: 0 auto;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}




